.chessBoard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
}

.boardContainer {
  width: 50vh;
  height: 50vh; 
}

.cellWhite {
  background: #398277;
  width: 100%;
  height: 100%;
}

.cellBlack {
  background: #403D58;
  width: 100%;
  height: 100%;
}

.blackPiece {
  color: #C14566;
  font-size: 3rem;
  text-align: center;
}

.whitePiece {
  color: white;
  font-size: 3rem;
  text-align: center;
}

.move {
  background: yellow;
  height: 75%;
  width: 75%;
  border-radius: 50%;  
  opacity: 0.5;
}